{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "99 Retail Solution Private Limited",
      "Space": "99Applications"
    },
    "Name": "webs99",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}